.chart-container {
  overflow-x: auto;
  .apexcharts-text {
    fill: white !important;
  }
  .apexcharts-tooltip {
    color: black;
  }
  .charts-wrapper {
  }
  .card-container {
    min-width: 500px;
  }
}

.pie-chart-container {
  display: flex;
  flex-direction: column;
  h3 {
    padding: 10px 0px;
  }
  #portfolio-pie-chart {
    align-self: center;
  }
  .apexcharts-legend-text {
    color: white !important;
  }
}

@media screen and (max-width: 1100px) {
  .chart-container {
    .card-container {
      min-width: 90%;
    }
  }
}
